{% extends 'base.html.twig' %}

{% block title %}Liste des Localities{% endblock %}

{% block body %}

<h1>Liste des {{ressource}}</h1>

<ul class="list-group">
{% for locality in localities %}
    <li class="list-group-item">{{ locality.locality }}</li>
{% endfor %}
</ul>

{% endblock %}
